<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>cadastro</display-name>
    <servlet-name>cadastro</servlet-name>
    <servlet-class>controller.cadastro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastro</servlet-name>
    <url-pattern>/cadastro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroEleicaoController</display-name>
    <servlet-name>CadastroEleicaoController</servlet-name>
    <servlet-class>controller.CadastroEleicaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroEleicaoController</servlet-name>
    <url-pattern>/CadastroEleicaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroCadController</display-name>
    <servlet-name>CadastroCadController</servlet-name>
    <servlet-class>controller.CadastroCadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroCadController</servlet-name>
    <url-pattern>/CadastroCadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VotarController</display-name>
    <servlet-name>VotarController</servlet-name>
    <servlet-class>controller.VotarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotarController</servlet-name>
    <url-pattern>/VotarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultadosController</display-name>
    <servlet-name>ResultadosController</servlet-name>
    <servlet-class>controller.ResultadosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultadosController</servlet-name>
    <url-pattern>/ResultadosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GerenciamentoControlle</display-name>
    <servlet-name>GerenciamentoControlle</servlet-name>
    <servlet-class>controller.GerenciamentoControlle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerenciamentoControlle</servlet-name>
    <url-pattern>/GerenciamentoControlle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaCandidatosController</display-name>
    <servlet-name>ListaCandidatosController</servlet-name>
    <servlet-class>controller.ListaCandidatosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaCandidatosController</servlet-name>
    <url-pattern>/ListaCandidatosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarItem</display-name>
    <servlet-name>DeletarItem</servlet-name>
    <servlet-class>controller.DeletarItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarItem</servlet-name>
    <url-pattern>/DeletarItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarItem</display-name>
    <servlet-name>EditarItem</servlet-name>
    <servlet-class>controller.EditarItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarItem</servlet-name>
    <url-pattern>/EditarItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarItemServlet</display-name>
    <servlet-name>AtualizarItemServlet</servlet-name>
    <servlet-class>controller.AtualizarItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarItemServlet</servlet-name>
    <url-pattern>/AtualizarItemServlet</url-pattern>
  </servlet-mapping>
</web-app>